{
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "minify": true
      }
    ]
  ],
  "presets": [
    "stage-2",
    "react",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
